{% extends 'base.html' %}
{% block title %}
    {{ recipe.name }}
{% endblock title %}
{% block main %}

<div class="card  mt-5">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    {% if recipe.photo %}
            <img src="{{ recipe.photo.url }}" class="card-img-top" alt="Not found image!" width="100%"/>
        {% else %}
            <img src="https://bitsofco.de/img/Qo5mfYDE5v-350.png" class="card-img-top" alt="Not found image!" width="100%"/>
        {% endif %}

  </div>
  <div class="card-header d-flex justify-content-between">
      <div>Actions</div>
      <div class="d-flex justify-content-between">
          <div><a href="{% url 'recipe_delete' recipe.pk %}" style="margin-right: 10px"><i class="far fa-trash-can fa-lg"></i></a></div>
          <div><a href="{% url 'recipe_update' recipe.pk %}"><i class="far fa-pen-to-square fa-lg"></i></a></div>
      </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ recipe.name }}</h5>
    <p class="card-text">
      {{ recipe.content }}
    </p>

    <a href="{% url 'index' %}" class="btn btn-primary">Back</a>
  </div>
  <div class="card-footer">{{ recipe.updated }}</div>
</div>

{% endblock main %}